body {
    display: grid;
    margin: 8px;
    height: calc(100vh - 16px);
    align-items: center;
    justify-items: center;

    background-color: var(--bg-color);
    color: var(--color);
}

:root {
    --bg-color: rgb(5, 41, 5);
    --color: rgb(245, 234, 214);
}